$text: #212529;
$white: #ffffff;
$red: #fa5252;
$green: #12b886;
$backgroundGradient: transparent
  linear-gradient(180deg, #ffffff 0%, #dee2e6 100%) 0% 0% no-repeat padding-box;
$placeHolder: #adb5bd;
$gray: #f1f3f5;
$borderColor: #e9ecef;
$smallText: #868e96;
